<%- include("../../partials/header"); %>

    <body>
        <%- include("../../partials/navbar"); %>
            <div class="container">
                <h2>Article</h2>
                <a href="/admin/articles/new" class="btn btn-success mb-3">Create New Article</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Slug</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% articles.forEach(article=> { %>
                            <tr>
                                <td>
                                    <%= article.id %>
                                </td>
                                <td>
                                    <%= article.title %>
                                </td>
                                <td>
                                    <%= article.slug %>
                                </td>
                                <td>
                                    <%= article.category.title %>
                                </td>
                                <td>
                                    <form action="/articles/delete" method="post" style="display: inline;"
                                        onsubmit="confirmDelete(event, this)">
                                        <input type="hidden" name="id" value="<%= article.id %>">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
    </body>
    <%- include("../../partials/footer"); %>
        <script>
            function confirmDelete(event, form) {
                event.preventDefault();
                var decision = confirm("Are you sure?")

                if (decision) {
                    form.submit()
                }
            }
        </script>