<%- include('partials/header'); %>

    <body>
        <%- include('partials/home-navbar'); %>
            <div class="container">
                <% articles.forEach(article=> { %>
                        <div class="card mt-3">
                            <div class="card-header">
                                <h2><%= article.title %></h2>
                            </div>
                            <div class="card-body">
                                <a href="/<%= article.slug %>" class="btn btn-success">Read</a>
                            </div>
                        </div>
                    <% }) %>
            </div>
    </body>
    <%- include('partials/footer'); %>